{%extends 'main/base.html'%}
{%block title%}Главная{%endblock%}

{%block content%}
<h1>OIT - сайт о IT</h1>
<br>

<ul>
    <li><h5>Этот сайт создан для углубления в современные технологии</h5></li>
    <p>Тут вы сможете узнать что-то новое о языках программирования, современных инструментов разработки и так далее!</p>
    <br>
    <li><h5>На сайте представлен удобный поиск</h5></li>
    <p>Он создан для поиска информации по интересующей вас технологии</p>
    <br>
    <li><h5>Этот сайт является конкурсным</h5></li>
    <p>Данный сайт создан специально для конкурса "Планета Web"</p>
</ul>
{%endblock%}